/*********************************************/
/*********** 1. Tailwind Classes ************/
/*******************************************/

.sticky {
  position: sticky;
}

.cursor-default {
  cursor: default;
}

.h-unset {
  height: unset;
}

.stroke-inherit {
  stroke: inherit;
}

.transition-color {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-150 {
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
}

.delay-75 {
  transition-delay: 75ms;
}

.delay-100 {
  transition-delay: 100ms;
}

.z-\[35px\]{
  z-index: 35;
}

.h-fit{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.shadow-\[custom-shadow\]{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.pr-6{
  padding-right: 1.5rem;
}
.pl-6{
  padding-left: 1.5rem;
}
/*****************************************************/
/********* sidenav.php Custom CSS Start ************/
/***************************************************/


/*******************************************/
/*********** 2. Common Classes *************/
/*******************************************/

/* Custom height for topbar */
.h-\[var\(--tw-topbar-height\)\] {
  height: var(--tw-topbar-height);
}

/* Custom padding for menu links */
.p-\[var\(--tw-menu-link-padding-y\)\] {
  padding: var(--tw-menu-link-padding-y) calc(var(--tw-menu-link-padding-x) + var(--tw-menu-item-padding-x));
}

.bg-\[var\(--tw-bg-opacity\)\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-gray-\[var\(--tw-text-opacity\)\]{
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}
/*****************************************************/
/*********** 3. Custom App Menu & Logo-box **********/
/***************************************************/

/* Custom width for sidebar */
.w-\[var\(--tw-sidenav-width\)\] {
  width: var(--tw-sidenav-width);
}

/* Custom width for small sidebar */
.w-\[var\(--tw-sidenav-width-sm\)\] {
  width: var(--tw-sidenav-width-sm);
}

/* Custom minimum width for sidebar */
.min-w-\[var\(--tw-sidenav-width\)\] {
  min-width: var(--tw-sidenav-width);
}

/* Custom minimum width for small sidebar */
.min-w-\[var\(--tw-sidenav-width-sm\)\] {
  min-width: var(--tw-sidenav-width-sm);
}

/* Custom minimum height for small sidebar */
.min-h-\[var\(--tw-sidenav-sm-height\)\] {
  min-height: var(--tw-sidenav-sm-height);
}

/* Custom background color for menu */
.bg-\[var\(--tw-menu-bg\)\] {
  background: var(--tw-menu-bg);
}

/* Custom text color for menu items */
.text-gray-\[var\(--tw-menu-item-color\)\] {
  color: var(--tw-menu-item-color);
}





/*******************************************/
/*********** 4. Scrollbar CSS **************/
/*******************************************/

/* Custom height for scrollbar, accounting for topbar height */
#scrollbar.h-\[var\(--tw-topbar-height\)\] {
  height: calc(100% - var(--tw-topbar-height));
}

/* Custom border color with opacity for scrollbar */
#scrollbar.border-gray-400-25 {
  --tw-border-opacity: 0.25;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}


/*******************************************/
/*********** 5. Menu CSS *******************/
/*******************************************/

/* Custom gap between menu items */
#menu.gap-\[var\(--tw-menu-item-gap\)\] {
  gap: var(--tw-menu-item-gap);
}

/* Custom padding for menu items */
#menu.p-\[var\(--tw-menu-item-gap\)\] {
  padding: var(--tw-menu-item-gap) 0;
}


/*******************************************/
/*********** 6. Menu Title *****************/
/*******************************************/

/* Custom font size for menu items, reduced by 20% */
#menu li.text-sm-\[var\(--tw-menu-item-font-size\)\] {
  font-size: calc(var(--tw-menu-item-font-size) * 0.8);
}

/* Custom horizontal padding for menu items */
#menu .p-\[var\(--tw-menu-item-padding-x\)\] {
  padding: 0 var(--tw-menu-item-padding-x);
}

/* Custom gap between menu link items */
#menu .gap-\[var\(--tw-menu-link-item-gap\)\] {
  gap: var(--tw-menu-link-item-gap);
}


/*******************************************/
/*********** 7. Menu Icon CSS **************/
/*******************************************/

/* Custom width of menu icons */
#menu .w-\[var\(--tw-menu-item-icon-size\)\] {
  width: calc(var(--tw-menu-item-icon-size) - 4.5px);
}

/* Custom height of menu icons */
#menu .h-\[var\(--tw-menu-item-icon-size\)\] {
  height: calc(var(--tw-menu-item-icon-size) - 4.5px);
}

/* Custom padding for menu items */
#menu .menu-item .p-\[var\(--tw-menu-link-padding-y\)\] {
  padding: var(--tw-menu-link-padding-y) var(--tw-menu-link-padding-x);
}

/* Custom font size and line height for menu items */
#menu .menu-item .text-sm-\[var\(--tw-menu-item-font-size\)\] {
  font-size: var(--tw-menu-item-font-size);
  line-height: var(--tw-menu-item-font-size);
}

/* Custom width for menu items */
#menu .menu-item .w-\[var\(--tw-menu-item-font-size\)\] {
  width: var(--tw-menu-item-font-size);
}

/* Custom height for menu items */
#menu .menu-item .h-\[var\(--tw-menu-item-font-size\)\] {
  height: var(--tw-menu-item-font-size);
}


/*******************************************/
/*********** 8. SVG Color ******************/
/*******************************************/

/* Custom fill color for SVG elements */
/* .fill-\[var\(--tw-menu-item-color\)\] {
  fill: var(--tw-menu-item-color);
} */


/***************************************************/
/*********** 9. Sidebar Menu Hover Effects ********/
/*************************************************/

/* Custom background color on hover for menu items */
/* #menu .menu-item .hover\:tw-menu-item-hover-bg:hover {
  background: var(--tw-menu-item-hover-bg);
} */

/* Custom text color on hover for elements within a group */
/* #menu .menu-item .group:hover .group-hover\:tw-menu-item-hover-color {
  color: var(--tw-menu-item-hover-color);
} */

/* Custom fill color on hover for SVG elements within a group */
/* #menu .menu-item .group:hover .group-hover\:tw-menu-item-hover-svg-color {
  fill: var(--tw-menu-item-hover-color);
} */


/*******************************************/
/*********** 10. Submenu *******************/
/*******************************************/

/* Custom padding-inline-start for submenu based on icon size and item gap */
.sub-menu.ps-\[var\(--tw-menu-item-icon-size\)\] {
  padding-inline-start: calc(var(--tw-menu-item-icon-size) + var(--tw-menu-link-item-gap));
}

/* Custom top margin for submenu's first items */
.sub-menu .mt-\[var\(--tw-menu-link-padding-y\)\] {
  margin-top: calc(var(--tw-menu-link-padding-y) * 0.5);
}

/* Custom bottom margin for submenu's last items */
.sub-menu .mb-\[var\(--tw-menu-link-padding-y\)\] {
  margin-bottom: calc(var(--tw-menu-link-padding-y) * 0.5);
}

/*****************************************************/
/********* sidenav.php Custom CSS End ************/
/***************************************************/




/*****************************************************/
/********* topbar.php Custom CSS Start **************/
/***************************************************/



/*******************************************/
/*********** 11. App Header *******************/
/*******************************************/


#app-header.bg-\[var\(--tw-topbar-bg\)\]{
  background: var(--tw-topbar-bg);
}


#app-header .text-gray-\[var\(--tw-topbar-item-color\)\]{
  color: var(--tw-topbar-item-color);
}

#app-header .fill-\[var\(--tw-topbar-item-color\)\]{
  fill: var(--tw-topbar-item-color);
}


/***************************************************/
/*********** 11. Topbar Hover Effects *************/
/*************************************************/

/* Custom background color on hover for topbar items */
#app-header .hover\:tw-topbar-item-hover-bg:hover {
  background: var(--tw-topbar-item-hover-bg);
}

/* Custom text color on hover for topbar elements within a group */
#app-header .group:hover .group-hover\:tw-topbar-item-hover-color {
  color: var(--tw-topbar-item-hover-color);
}

/* Custom fill color on hover for topbar SVG elements within a group */
#app-header .group:hover .group-hover\:tw-topbar-item-hover-svg-color {
  fill: var(--tw-topbar-item-hover-color);
}


/*****************************************************/
/********* topbar.php Custom CSS End ****************/
/***************************************************/




/*****************************************************/
/********* index.php Custom CSS Start ***************/
/***************************************************/

/* .main-container .bg-\[var\(--tw-bg-opacity\)\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.main-container .text-gray-\[var\(--tw-text-opacity\)\]{
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
} */
/*****************************************************/
/********* index.php Custom CSS End ***************/
/***************************************************/